
<!DOCTYPE html>
<html>
<head>
    <title>Home Teplate</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/style.css" rel="stylesheet" />
  

   
</head>
<body>
   
    <h3>"What's this true randomness?"</h3>
    <p>
        Perhaps you have wondered how predictable machines like computers can generate randomness.
        In reality, most random numbers used in computer programs are pseudo-random, which means they are generated in a predictable fashion using a mathematical formula. This is fine for many purposes, but it may not be random in the way you expect if you're used to dice rolls and lottery drawings.
    </p>
    <p>
        RANDOM.UA offers true random numbers to anyone on the Internet. The randomness comes from atmospheric noise, which for many purposes is better than the pseudo-random number algorithms typically used in computer programs. People use RANDOM.UA for holding drawings, lotteries and sweepstakes, to drive online games, for scientific applications and for art and music.
    </p>

    @using (Html.BeginForm("CommentsMethod", "Home"))
    {

        <div class="border">
            <div class="form-group">
                <h3>Conctact me</h3>
                <p><input class="form-control control-label" type="text" name="FirstName" placeholder="Your Name..." /></p>
                <p><input class="form-control control-label" type="text" name="LastName" placeholder="Your Surname..." /></p>

                <p><textarea class="form-control control-label" name="Subject" placeholder="Write message.." style="width:300px;height:100px"></textarea></p>

                <p><input class="form-control control-label" type="submit" value="Отправить"></p>

                <p>@ViewBag.message</p>

            </div>
        </div>
    }






    </body>
</html>