
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>

    @using (Html.BeginForm("RandomPassword", "GenerateNumber"))
    {
        <div class="group">


            <input type="checkbox" name="includeLowerCase" value="true"> Include LowerCase<br>
            <input type="checkbox" name="includeUpperCase" value="true"> Include UpperCase<br>
            <input type="checkbox" name="includeNumber" value="true">  Include Number<br>
            <input type="checkbox" name="includeSpecial" value="true"> Include Special<br>
            <input class="form-control valid" data-val="true" data-val-number="The field Length must be a number." data-val-required="The Length field is required." id="NumberOfCharacters" maxlength="3" name="NumberOfCharacters" type="number" value="10">
            <input type="submit" value="GeneratePassowrd" class="btn btn-default" />


            <p> Result : @ViewBag.outputPass</p>

        </div>
    }

    


</body>
</html>