@model WebApplicationRandomOrg.Models.Result

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeView</title>

</head>
<body>
    <p>Генератор целых чисел</p>


    @using (Html.BeginForm("RandomIntegerr", "GenerateNumber"))
    {

    <div class="form-group">

        
        <p><input type="text" name="min"  placeholder="min" /></p>
        <p><input type="text" name="max"  placeholder="max" /></p>


        <p><input type="submit" value="Generate" class="btn btn-default" /></p>


        <p>@ViewBag.output</p>


    </div>
    }






</body>
</html>