
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeView</title>
    @Styles.Render("~/Content/style.css")
</head> 
<body>
    <p>Генератор целых чисел</p>
    @using (Html.BeginForm("RandomInteger", "GenerateNumber"))
      {

            <div class="form-group">
               

                    <p><input type="text" name="min" placeholder="min" /></p>
                    <p><input type="text" name="max" placeholder="max" /></p>

                </div>


       
       

    }



</body>
</html>